/* IMPORTAÇÃO DE FONTE */
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@media (min-width: 1100px){
    * {
    margin: 0;
    box-sizing: border-box;
    transition: all 300ms ease;
}

body {
    overflow-x: hidden;
}

#imgHome {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 493.17px;
}

.imgFitCover {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-out;
}

#home {
    position: relative;
    width: 1100px;
    height: 91vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 50px;
}

#homeLorem {
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    width: 100%;
}


#imgHomePropaganda>h1 {
    font-family: "Zilla Slab";
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 48px;
    color: #FFF;
}

#homeLorem1 {
    position: absolute;
    top: 0;
    left: 50%;
}

#homeLorem1>h1 {
    font-family: "Zilla Slab";
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 48px;
    color: #000;
    width: 450px;
}

#homeLorem1>p {
    font-family: "Jaldi";
    position: absolute;
    font-size: 24px;
    color: #000;
    width: 451px;
    letter-spacing: -2%;
    line-height: 115%;
    top: 50px;
}

#promo {
    height: 244px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

#promo>h1 {
    font-family: "Zilla Slab";
    font-size: 64px;
    position: absolute;
    color: #fff;
    width: 770px;
    -webkit-text-stroke: 2px #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#produtos {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-around;
    margin-bottom: 25px;
}

#produtos>div>a {
    position: relative;
    cursor: pointer;
}

#produtos>div:hover {
    transform: scale(1.1);
}

#produtos>div>a>div {
    background-color: black;
    width: 300px;
    height: 300px;
    position: absolute;
    top: -1670%;
    background: linear-gradient(0deg, black, rgba(0, 0, 0, 0));
}

#produtos>div>a>h2 {
    font-family: "Zilla Slab";
    position: absolute;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    bottom: 10px;
    left: 10px;
}

#vermais {
    background-color: #82E591;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 25px;
}

#vermais>p, #vermais a {
    font-family: "Jaldi";
    font-size: 24px;
    text-align: center;
    color: #000;
    text-decoration: none;
}
}

@media (max-width: 550px){
    * {
    margin: 0;
    box-sizing: border-box;
    transition: all 300ms ease;
}

body {
    overflow-x: hidden;
}

#imgHome {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 190px;
}

.imgFitCover {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-out;
}

#home {
    position: relative;
    width: 100%;
    height: 1000px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 50px;
}

#homeLorem {
    position: relative;
    margin-top: 10px;
    width: 100%;
}

#imgHomePropaganda {
    position: relative;
    width: 100%;
}

#imgHomePropaganda img {
    position: absolute;
    width: 340px;
    height: 540px;
    left: 50%;
    transform: translate(-50%);
}

#imgHomePropaganda>h1 {
    font-family: "Zilla Slab";
    position: absolute;
    top: 0;
    left: 47%;
    transform: translate(-50%);
    font-size: 48px;
    color: #FFF;
}

#homeLorem1 {
    position: relative;
    width: 100%;
    top: 550px;
    text-align: center;
    h1, p {
        left: 50%;
        transform: translate(-50%);
    }
}

#homeLorem1>h1 {
    font-family: "Zilla Slab";
    position: absolute;
    top: 0;
    font-size: 48px;
    color: #000;
    width: 350px;
    text-align: center;
}

#homeLorem1>p {
    font-family: "Jaldi";
    position: absolute;
    font-size: 15px;
    color: #000;
    width: 350px;
    letter-spacing: -2%;
    line-height: 115%;
    top: 50px;
}

#promo {
    height: 130px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

#promo>h1 {
    font-family: "Zilla Slab";
    font-size: 30px;
    position: absolute;
    color: #fff;
    -webkit-text-stroke: 1px #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    width: 100%;
}

#produtos {
    position: relative;
    display: flex;
    width: 100%;
    /* height: 300px; */
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    gap: 50px;
}

#produtos>div>a {
    position: relative;
    cursor: pointer;
}

#produtos>div:hover {
    transform: scale(1.1);
}

#produtos>div>a>div {
    background-color: black;
    width: 300px;
    height: 300px;
    position: absolute;
    top: -1670%;
    background: linear-gradient(0deg, black, rgba(0, 0, 0, 0));
}

#produtos>div>a>h2 {
    font-family: "Zilla Slab";
    position: absolute;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    bottom: 10px;
    left: 10px;
}

#vermais {
    background-color: #82E591;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 25px;
}

#vermais>p, #vermais a {
    font-family: "Jaldi";
    font-size: 24px;
    text-align: center;
    color: #000;
    text-decoration: none;
}
}